echo venv/ >> .gitignore
echo __pycache__/ >> .gitignore
echo *.pyc >> .gitignore
echo instance/ >> .gitignore
echo logs/ >> .gitignore
echo *.db >> .gitignore
echo *.sqlite >> .gitignore
echo .env >> .gitignore
echo file/ >> .gitignore
echo siket-ekub/ >> .gitignore
echo backups/ >> .gitignore
echo *.zip >> .gitignore